{% extends "base.html" %}

{% block content %}

    <h3>编辑页面</h3>
    <form action="" method="post">
        <div class="form-group">
            <label for="">书籍名称</label>
            <input type="text" class="form-control" name="title" value="{{ book.title }}">
        </div>
        <div class="form-group">
            <label for="">书籍价格</label>
            <input type="text" class="form-control" name="price" value="{{ book.price }}">
        </div>
        <div class="form-group">
            <label for="">出版日期</label>
            <input type="date" class="form-control" name="pub_date" value="{{ book.pub_date|date:"Y-m-d" }}">
        </div>
        <div class="form-group">
            <input type="submit" class="btn success pull-right">
        </div>
    </form>




{% endblock %}