<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../base%20day%2013/vue3.js"></script>
</head>
<body>

<div id="app">
    <p>消息: {{msg}} </p>
    <p>网站: <span v-html="link"></span></p>
    <input type="text" v-model="data">
    <input type="text" v-model="msg">
    
    <p><img height="200" width="300" :src="url" alt=""></p>
    <p>
        <a :href="link2">{{site}}</a>
        网站地址 <input type="text" v-model="site">
        url地址 <input type="text" v-model="link2">
    </p>

    <p>年龄: {{age+1}}</p>
    <p>{{is_login?"xx":"登录"}}</p>
    <p>{{citys.split(" ").reverse().join(",")}}</p>
</div>
<script>
    // 数据驱动页面
    var vm = Vue.createApp({
        data(){
            return{
                msg: "hello world",
                link:"<a href='https://www.baidu.com/'>百度</a>",
                data: "123",
                url: "https://gimg3.baidu.com/search/src=http%3A%2F%2Fpics0.baidu.com%2Ffeed%2Fb58f8c5494eef01ff3e82fc84b69862fbd317d64.jpeg%3Ftoken%3De8a2cc6397ffe1974075d9fb72cb79dd&refer=http%3A%2F%2Fwww.baidu.com&app=2021&size=f360,240&n=0&g=0n&q=75&fmt=auto?sec=1649091600&t=c65659e87c914bbd7a342b388a0dcf63",
                site: "百度",
                link2: "https://www.baidu.com/",
                age: 23,
                is_login: false,
                citys: "北京 上海 深圳 广州"
            }
        },
    }).mount("#app")


</script>

</body>
</html>