<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../base%20day%2013/vue3.js"></script>
    <style>
        .pass{
            outline-color: green;
        }
        .fail{
            outline-color: red;
        }
    </style>
</head>
<body>

<dic id="app">
    <p>{{num}}</p>
    <input type="text" v-model="num"></p>
    <input type="password" :class="tips" v-model="password"></p>
</dic>


<script>
    // 数据驱动页面
    var vm = Vue.createApp({
        data(){
            return{
                num: 100,
                tips: "fail"
            }
        },
        methods:{
            },
        computed:{
        },
        watch:{
          num: function (newval,oldval){
              console.log(newval,oldval)
          },
          password: function (newval,oldval){
             if(newval.length>5){
                this.tips  = "pass"
             }else{
                 this.tips = "fail"
             }
          }
        }
    }).mount("#app")


</script>

</body>
</html>